body {
    background-image: linear-gradient(to bottom, var(--color1), var(--color2)); 
 }
.barra {
    float: left;
    width: 200px;
    height: 615px;
    overflow-y: scroll;
    background-color: var(--bacgroundBar);
    position:static;
    margin: 0;
    padding: 0;
    
}
.hoja {
    padding: 0;
    position: absolute;
    overflow-y: scroll;  
    
}
.barra h3 {
    padding-left: 10px;
    color: var(--titleBar) ;
}
.barra ul {
    padding: 0;
}
.barra ul li {
    list-style-type: none;
    
}
.barra li a{
    text-decoration: none;
    text-align: left;
    display: block;
    color: var(--subtitleBar);
    padding: 5px 10px;
}
.barra li a:hover{
    background-color: var(--selectBar);
    color:white;
}

@media only screen and (max-width: 600px) {
    .barra {
        display: none;
    }
    .hoja {
        width: 100% !important;
        margin-top: 237px;
    }
    
}

