:root {
    --color1: #75FF33;
    --color2: #33FFBD;
   
}
body {
   background-image: radial-gradient(var(--color1), var(--color2)); 
}
.cuerpo {
    width: 100%;
    display: inline-block;
    margin-top: 0;
    padding: 0;   
}
.cuerpo h2{
    text-align: center;
    font-size: 50px;
    color: #0675cf;
    margin-bottom: 0;
}
.cuerpo p {
    text-align: center;
    margin-top: 0px;
    color:  white;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    justify-content: center;
}
/*diseño del grid en la página del grammar*/
.container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;
    justify-content: center;

}
.img2 {
    margin-top: 80px;
}
img {
    width: 250px;
    height: 250px; 
    border-radius: 20px;
    box-shadow: -10px 10px 10px #364543;
    transition: transform 2s;
}

img:hover {
    transform: rotateY(40deg);
}

@media  only screen and (max-width: 600px) {
    .container, .container2 {
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }
    .img2 {
        margin-top: 0;
    }
    
   
}